

body {
	background-color: #fff5f5;
  font-family: 'Oregano', cursive;
}

#root {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #3acedd;
	padding-top: 15px;
	padding-bottom: 200px;
	border: 2px solid #666;
	border-radius: 6px;
	padding: 15px 15px 200px;
}

.main-heading {
	text-align: center;
  color: #fff;
}

.app {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.app .inputs input {
	padding: 15px;
	border-radius: 3px;
	display: inline-block;
	margin-right: 6px;
	border: 1px solid #666;
	font-weight: 600;
	font-size: 18px;
	width: 100%;
	box-sizing: border-box;
}

.app .inputs input:active,
.app .inputs input:focus,
.app .inputs input:hover {
	border: 1px solid #17cf17;
}

.app .inputs button {
	border: none;
	padding: 15px;
	min-width: 100px;
	background-color: #000;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	transition: 0.25s background-color;
	margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.app .inputs button:hover,
.app .inputs button:focus {
	background-color: #17cf17;
	cursor: pointer;
}

.app .suggestions {
	background-color: #fff;
}

.app .suggestions ul {
	list-style-type: none;
	padding: 0;
}

.app .suggestions ul li {
	padding: 7px;
	margin: 8px 0;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	transition: 0.25s background-color;
}

.app .suggestions ul li.selected {
	background-color: #17cf17;
	color: #fff;
	font-weight: 600;
}

.app .suggestions ul li:hover,
.app .suggestions ul li:active {
	background-color: #ccc;
}

.app .zip-info .info-panel .heading {
	margin-top: 0;
  color: #fff;
}

.app .zip-info .info-panel .info {
	background-color: #fff;
	padding: 5px 15px;
	margin-bottom: 6px;
  border-radius: 3px;
}

.app .zip-info .info-panel .info>p {
	margin: 5px;
}

.app .zip-info .info-panel .info>p .info-prop {
	text-transform: capitalize;
	min-width: 155px;
	display: inline-block;
	font-weight: 600;
}

.error-panel h3 {
	margin: 0;
	padding: 15px;
	background-color: #f19737;
	color: #fff;
	border-radius: 3px;
}

@media (min-width: 992px) {
	.app {
		flex-direction: row;
		align-items: initial;
		justify-content: center;
	}
	.app form,
	.app .zip-info {
		margin: 0 30px;
	}
  .app .inputs input {
    width: unset;
  }
  .app .inputs button {
    display: inline-block;
  }
}

